
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@800&display=swap');


/* Styles generales */
body{
  background-color:#d3d3d3;}
.h1open{
  font-family: 'Geologica', sans-serif;
  text-align: center
  ;
  
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
/* Menu */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 2%;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front ,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}
.flip-card-front {
  background-image: 
 /*  linear-gradient(
    45deg, #00c81b, #e16716
    );
} */
linear-gradient(45deg, #833ab4, #fd1d1d)}
.flip-card-front img {
  width: 220px;
  margin-top: 1rem;
}
.flip-card-back {
 /*  background-image: linear-gradient(45deg, #00c81b, #e16716); */
 background-image: linear-gradient(45deg, #833ab4, #fd1d1d);
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back img {
  width: 180px;
  margin-top: 1rem;
}
.flip-card-back button {
  margin: 0;
}
.menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
/* Alimentos.html */
#produAlimentos{
  display: flex;
  justify-content: center;
  font-family: 'Geologica', sans-serif;
}
#AlimentosDiv img{
  width: 20rem;
  border-radius: 0.7rem;
  margin: 1rem;
}
#AlimentosDiv{
  justify-content: center;
  background-image: linear-gradient(45deg, #833ab4, #fd1d1d);
  border-radius: 25% 3%;
  margin: 0.5rem;
  box-shadow: 0.4rem 0.4rem 0.4rem grey;
  text-align: center;
  align-items: center;
}
#AlimentosDiv p{
  color: white;
  font-size: 1.3rem;
}
button{
  margin-bottom: 1rem;
}

.prox{
  display: flex;
  margin:20% 20%;
  justify-content: center;
  font-family: 'Geologica', sans-serif;
}

#cart{
  padding-top: 10rem;
  display: flex;
  justify-content: center;
}
.logo-modal{
  width: 25%;
  
}
.modal-footer{
  justify-content: space-around;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: wheat;
  font-family: 'Geologica', sans-serif;
  margin: 0% 3%;
  

}
.details h3{
  font-size: 1.2rem;  
}
.details h4 {
  font-size: 1.5rem;
}
.details h5{
  font-size: 0.9rem;
}
.imageCart{
  width: 30%;
  margin-top: 5px;
}
.delete{
  background-color: #d3d3d3;
  margin-right: 3%;
  border-radius: 25%;
  background-image:linear-gradient(45deg, #833ab4, #fd1d1d); 
  border: 0px;
}

#aparienciaCarrito{
  background-image:linear-gradient(45deg, #833ab4, #fd1d1d);
  border-radius: 7% 60% 5% 5%;
  margin: 5% 0% 5% 0%;
  
}
#adoptame{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image:linear-gradient(45deg, #833ab4, #fd1d1d);
  margin: 5% 3% 5% 3%;
  border-radius: 25% 10%;
  color: #d3d3d3;
  font-family: 'Geologica', sans-serif;
  box-shadow: 0.4rem 0.4rem 0.4rem grey;
}
#adoptame img{
  width: 20%;
  margin: 2%;
  border-radius: 50%;
  box-shadow: 0.4rem 0.4rem 0.4rem rgb(0, 0, 0);
}
.mascotaInModal{
  width: 20%;
  border-radius: 50%;
  margin-left: 5%;
  margin-top: 1%;
  box-shadow: 0.4rem 0.4rem 0.4rem rgb(0, 0, 0);
}
#dscrp{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #d3d3d3;
  margin: 7%;
  background-image:linear-gradient(45deg, #833ab4, #fd1d1d);
  border-radius: 10% 5%;
  box-shadow: 0.4rem 0.4rem 0.4rem grey;
}
#dscrp h2{
  font-size: 1.7rem;
  margin-top: 7%;
}
#dscrp h3{
  font-size: 1.2rem;
  margin-top: 7.5%;
  margin-right: 2%;
}
#dscrp h4{
  margin: 2%;
}
#dscrp button{
  background-image:linear-gradient(45deg, #833ab4, #fd1d1d);
  margin-left: 45%;
  margin-right: 45%;
  width: 10%;
  border-color: wheat;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 1.2rem rgb(0, 0, 0);
}
#dscrp button svg{
  margin: 10% 0% ;
}
#btnadoptar{
  display: flex;
  justify-content: center;
}

